
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Exo+2:wght@300&family=Poppins:wght@200&family=Titillium+Web:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Audiowide&family=Days+One&family=Michroma&display=swap');

html {
    font-size: 62.5%;
    background-image:url("https://media.istockphoto.com/id/1215814221/photo/the-black-and-silver-are-light-gray-with-white-the-gradient-is-the-surface-with-templates.jpg?b=1&s=170667a&w=0&k=20&c=i7yBvAe8bn9TdzodPw0ezshxneljLQh559MjZ6y-W70=");
    background-size: cover;
    overflow-x: hidden; 
    word-spacing: 0.8rem;
    height: 100%;
}


b {
    font-weight: bolder
}

.container {
    display: grid;
    position: absolute;
    width: 160vh;
    height:83vh;
    grid-template-columns: 0.25fr 0.7fr;
    grid-template-rows: 0.4fr 1.6fr 0.2fr;
    grid-template-areas:
        "sidebar title"
        "sidebar main"
        "sidebar footer";
     margin: 3vh 8vw 5.1vw 8vw; 
    border-radius: 2rem;
    background-image: linear-gradient(135deg, #3003f76e, #fb010150);
    
}
#container2,#container3,#container4,
#container5,#container6,#container7,#container8{
    display:none;
}


#nill {
    grid-area: nill;
}

p {
    font-size: medium;

}

/* ul {
    font-size: medium; 
    display: grid;
    grid-template-rows: auto auto;
} */

#title {
    grid-area: title;
    font-weight: 600;
    font-size: xx-large;
    text-align: center;
    padding: 2.5rem 0 2.5rem 0;
    margin-right: 5rem;
    color: #fff;
    font-family: 'Poppins';
}

@font-face {
    font-family: lauda;
    src: url(MechanismoRegular-p7ywa.otf);
}
.title {
    font-size: x-large;
    font-family: 'Poppins';
    font-weight: 700;
}

#sidebar {
    grid-area: sidebar;
    text-align: center;
    justify-content: center;
    padding-top: 10vh;
    color: rgb(255, 255, 255);
}

main {
    grid-area: main;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    line-height: 3rem;
    padding-right: 5rem;
    scroll-behavior: smooth;
    font-family: "Michroma";
    color: #fff;
    --scroll-radius: 2rem;
    --scroll-track: rgb(255 255 255 / 10%);
    --scroll-thumb: linear-gradient(45deg, #00aeff, #a68eff);
    
}
#text
{
    width: 100%;
}

#event-text {
    display: flex;
    justify-content: center;
    align-items: center;
} 
.logo{
    display: block;
    justify-content: center;
    align-items: center;
}
#register-text {
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    width: 100%;
}

footer {
    grid-area: footer;
}

.container {
    background: linear-gradient(90, red, blue);
    backdrop-filter: blur(.2rem);
    -webkit-backdrop-filter: blur(0.2rem);
    border: 10px solid ;
    border-top-color: rgba(0, 0, 255, 0.677);
    border-left-color: rgba(0, 0, 255, 0.677);
    border-right-color: #e40303ab;
    border-bottom-color: #e40303ab ;
    box-shadow: 0 8.0rem 3.2rem 0 rgba(0, 0, 0, 1);
}

button {
    background-color: rgb(0, 97, 189);
    color: white;
    width: 20%;
    height: 5rem;
    border-style: none;
    font-size: medium;
    border-radius: 1rem;
    transition: 0.1s;
    cursor: pointer;
    font-family: 'Michroma',sans-serif;
}

::-webkit-scrollbar {
    width: 1.4rem;
}
::-webkit-scrollbar-track {
    background: rgba(0, 11, 59, 0.736);
    border-radius: 1.5rem;
}
::-webkit-scrollbar-thumb {
    background: rgb(247, 85, 83);
    
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 0, 0);
}

button:hover {
    background-color: rgb(0, 153, 255);
}

#sidebar .list label {
    height: 8.5rem;
    width: 60%;
    line-height: 8.5rem;
    font-size: 2.2rem;
    font-weight: 500;
    border-radius: 1.2rem;
    cursor: pointer;
    z-index: 12;
    text-align: center;
    margin: 0.2rem 0;
    padding: 0 3.5rem 0 3.5rem;
    font-family: lauda;
    transition: 0.3s;
}



#sidebar .indicator {
    position: absolute;
    height: 8rem;
    width: 60%;
    left: 3.5rem;
    background: light-grey;
    border-radius: 1.5rem;
    transition: all 0.45s ease;
}

.container #sidebar .list {
    display: flex;
    flex-direction: column;
    position: relative;
}

#Event:checked~.list .indicator {
    top: -35.1rem;
}

#Structure:checked~.list .indicator {
    top: -26.2rem;
}

#Rules:checked~.list .indicator {
    top: -17.3rem;
}

#FAQs:checked~.list .indicator {
    top: -8.4rem;
}

#Register:checked~.list .indicator {
    top: 0.5rem;
}

#sidebar .list label:hover {
    color: rgb(0, 174, 255);
    transition: all ease 0.3s;
    font-size: 2.6rem;
    margin-left: 15px;
    background: rgb(3,233,244,0.1);
}

.content {
    font-size: large;
    padding: 3.5rem;
}

input[type="radio"] {
    display: none;
}

#event-text {
    text-align: center;
}





@media only screen and (max-width: 768px) {
    html {
        font-size: 1.1vw;

    }

    body {
        justify-content: center;
        text-align: center;
    }

    #sidebar .list label {
        font-size: 2.6rem;
        font-weight: bold;
    }

    #sidebar {
        background: rgba(0, 11, 59, 0.736);
        padding: 5rem 10px 5rem 10px;
        margin: 6rem 3px 5rem 3px;
        height: 6rem;
        border-radius: 1.5rem;
        justify-content: space-evenly;
        color: rgb(255, 255, 255);
    }

    #sidebar .list label {
        margin: 0;
        padding: 0 1.4rem;
        font-size: 3vw;
    }

    .container {
        /* margin: 1rem 1rem 1rem 1rem; */
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left:0rem;
        margin-right:1rem;
        size: 1rem;
        height: 97vh;
        overflow: hidden;
        padding-left: 0%;
    }

    main {
        
        line-height: 6rem;
        font-size: 3rem;
    }

    #title {
        margin: auto 0;
        font-weight: 400;
        font-size: 7rem;
    }

    button {
        width: 28rem;
        height: 12rem;
        font-size: medium;
    }

    #sidebar {
        margin-left: 3rem;
        margin-right: 3rem;
        display: flex;
        justify-content: space-between;
    }

    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.3fr 1fr 0.15fr;
        grid-template-areas:
            "title"
            "sidebar"
            "main"
            "footer";
        width:100%;
    }

    #sidebar .indicator {
        position: relative;
        height: 8rem;
        left: -63rem;
        width: 90%;
        background: rgba(0, 0, 0, 0.8);
        border-radius: 1.5rem;
        transition: all 0.5s ease;
    }

    #Event:checked~.list .indicator {
        top: -8.5rem;
        left: -60rem;
    }
    p{
        font-size: 3.5vw;
    }
    #Structure:checked~.list .indicator {
        top: -8.5rem;
        left: -44rem;
    }

    #Rules:checked~.list .indicator {
        top: -8.5rem;
        left: -27.5rem;
    }

    #FAQs:checked~.list .indicator {
        top: -8.5rem;
        left: -86%;
    }

    #Register:checked~.list .indicator {
        top: -8.5rem;
        left: 6%;
    }
    ::-webkit-scrollbar {
        width: 0rem;
    }
    #sidebar{
        padding: 2rem 10px 2rem 10px;
        margin: 1rem 3px 1rem 3px;
    }
    #sidebar .list label {
        margin: 0;
        padding: 0 1rem;
    }
    html{
        font-size: 1.1vw;
    }
    #sidebar .list{
        align-items: center;
        justify-content: center;
    }
  
}


 
.cv-button{
    justify-self: center;
    padding-top: 2rem;
    margin-left:38%;
    
}

  .bnt {
    
      position: relative;
      top: 0;
      left: 0;
      width: 250px;
      height: 20px;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      
  }
  .bnt a {
      position: relative;
      
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(127, 255, 212, 0.2);
      box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 30px;
      padding: 10px;
      letter-spacing: 1px;
      text-decoration: none;
      overflow: hidden;
      color: #fff;
      font-weight: 400px;
      z-index: 1;
      transition: 0.5s;
      backdrop-filter: blur(15px);
  }
  .bnt:hover a {
      letter-spacing: 3px;
  }
  .bnt a::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
      transform: skewX(45deg) translate(0);
      transition: 0.5s;
      filter: blur(0px);
  }
  .bnt:hover a::before {
      transform: skewX(45deg) translate(200px);
  }
  .bnt::before {
      content: "";
      position: absolute;
      left: 50%;
      transform: translatex(-50%);
      bottom: -5px;
      width: 30px;
      height: 10px;
      border-radius: 10px;
      transition: 0.5s;
      transition-delay: 0.5;
  }
  .bnt:hover::before /*lightup button*/ {
      bottom: 0;
      height: 50%;
      width: 80%;
      border-radius: 30px;
  }
  
  .bnt::after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translatex(-50%);
      top: -5px;
      width: 30px;
      height: 10px;
      border-radius: 10px;
      transition: 0.5s;
      transition-delay: 0.5;
  }
  .bnt:hover::after /*lightup button*/ {
      top: 0;
      height: 50%;
      width: 80%;
      border-radius: 30px;
  }
  
  .bnt::before, /* 2*/
  .bnt::after {
      background: #971ee3;
      box-shadow: 0 0 5px #2db2ff, 0 0 15px #2db2ff, 0 0 30px #2db2ff,
          0 0 60px #2db2ff;
  }

.event-section{
    position: relative;
    height: 100%;
    width: 100%;
}













@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');


.events-cards
{
    -ms-overflow-style: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 50vh;
    overflow-x: auto;
    white-space: nowrap;
    box-sizing: border-box;
    font-family: 'Audiowide', cursive;
    padding-bottom: 0;
    padding-top: 0;
   
}
.events-cards::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.box {
    position: relative;
    width: 300px;
    height: 300px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 2vw 2vw 2vw 2vw;
    background: #000000; /* Change */
    transition: .5s; 
    border-radius: 10px;  
}

.box:hover {
    height: 400px;
}



.box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}

.box .imgBx img {
    max-width: 100%;
    opacity: .3;
    transition: .5s; 
    border-radius: 10px;
}

.box:hover .imgBx img {
    opacity: 1;  
}

.box:before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
    border-radius: 10px;

}

.box:after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);

}

.box:before,
.box:after   {  
    background: linear-gradient(235deg, #2196f3, #010615, #F00000);
}

.box:nth-child(2):before,
.box:nth-child(2):after   { 
    background: linear-gradient(235deg, #2196f3, #010615, #F00000);
}

.box:nth-child(3):before,
.box:nth-child(3):after   { 
    background: linear-gradient(235deg, #772aff, #010615, #2196f3);
}



.box .content {
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 90px;
    background: rgba(0,0,0,.04);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
}

.box:hover .content {
    opacity: 1;
}

.box .content h2 {
    font-size: 20px;
    color: #fff;
    font-weight: 500; 
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.box .content h2 span {
    font-size: 14px;
    color: #fff;
    font-weight: 200; 
    
    letter-spacing: 2px;
}